@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: rgb(238, 216, 182);
    margin: 2em;
    font-family: 'poppins';
  }

h1 {
    background: white;
    padding: 2em;
    

}