@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: rgb(214, 214, 214);
    margin: 2em;
    font-family: 'poppins';
    text-align: justify;
  }

.page-body {
    max-width: 100em;
    margin:auto;
}

h1 {
    background: white;
    padding: 1em;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

 }
 span.headingemphasis {
     color:rgb(127, 193, 255);
 }

 .Introduction {
     font-weight: bold;
     font-size: 1.2em;
     text-align: justify;
 }

 h2 {
    background:rgb(127, 193, 255);
    color: white;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 5em;
 }

.travel-content {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
}

.travel-content th {
    background-color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 15px;
}
.travel-content tr {
    border-bottom: 2px solid gray;
    background-color: white;
    text-align: center;
}
.country {
    font-size: 1.0em;
    font-weight: bold;
}

.video-container {
    display:flex
}

.video-container div {
    margin-right: 5em;
}
